# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
ENV/
env/

# Environment variables file
.env

# IDE/editor files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

