streamlit

python-dotenv

gitpython



langchain

langchain-core

langchain-community

langchain-classic

langchain-text-splitters



langchain-groq

langchain-google-genai

google-generativeai

chromadb 

